
#box-cont{
    align-items: center;
    flex-direction: column;
    gap: 10px;
    height: auto;
}

#comment-box{
   padding: 20px;
   border-radius: 10px;
}

#comment-sc{
    gap: 3px;
    width: auto;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#comment-sc .card{
    width: 100%;
}

.card h2, .card p{
    margin: 0;
}

.card .bottom-card{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}